{% extends 'base.html' %}

{% block content %}
    <div id="participants-container">
        Liste des participants
        <ul id="participants">
        </ul>
    </div>
    <audio id="audioPlayer" src="" controls=""></audio>
    {% if showPlayBtn %}
    <button id="playButton"> Play Song </button>
    <button id="nextButton"> Next Song </button>
    {% endif %}
    <div id="answer-container">
        <input type="text" id="answer" placeholder="Enter the title">
        <button id="answerButton"> Submit </button>
    </div>


{% endblock %}
