{% extends 'base.html' %}

{% block content %}
    <div id="participants-container">
        <ul id="participants">
        </ul>
    </div>
    <div id="song-container">
        <video id="videoPlayer" src="" playsinline></video>
        <h2 id="song-title"> </h2>
    </div>
    <div id="game-panel">
        {% if showPlayBtn %}
        <button id="playButton" class="button"> Play Song </button>
        <button id="nextButton" class="button"> Next Song </button>
        {% endif %}
        <div id="answer-container">
            <input class=" " type="text" id="answer" placeholder="Enter the title of the anime">
            <button id="answerButton" class="button"> Submit </button>
        </div>
    </div>
    {% if showPlayBtn %}
    <div id="again" style="display:none">
        <button id="againButton" > Start a new game </button>
    </div>
    {% endif %}



{% endblock %}
