body {
  font-family: Nunito, Arial, sans-serif;
  background-color: #252525;
  margin: 0;
  padding: 20px;
}

body::after {
  background-image: url("../medias/bg-ai.png");
  background-size: 20%;
  background-repeat: repeat;
  background-attachment: fixed;
  outline: 10px solid white;
  content: "";
  opacity: 0.5;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;   
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

#join-form, .join-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
}

#participants-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#participants {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.player {
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
background-color: white;
padding: 20px;
border-radius: 10px;
}

#counter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #2a364b;
  border-radius: 25px;
  margin: 0 auto;
  padding: 12px;
  opacity: 0;
  color: white;
}

.username {
display: flex;
justify-content: center;
font-weight: bold;
}

.score {
  display: flex;
  justify-content: center;
}

.found-status {
  display: flex;
  justify-content: center;
}

#videoPlayer {
  width: 100%;
  height: 360px;
  pointer-events: none;
  background-color: #000;
}

#song-container{
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 640px;
  height: 480px;
  opacity: 0;
  text-align: center;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

#song-title {
  margin-top: 10px;
}

#game-panel {
  text-align: center;
  background-color: rgb(40, 50, 73);
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
}

.button {
  background-color: #4c63af;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.button:hover {
  background-color: #4556a0;
}

#answer-container {
  margin-top: 20px;
}

#answer, .text-input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
}

.correct-answer, .correct-answer:disabled {
  background-color: #60ff609d !important;
}

.wrong-answer, .wrong-answer:disabled {
  background-color: #ff000070 !important;
}

.host-button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 20px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 auto;
  width: 200px;
}

.host-button:hover {
  background-color: #007a99;
}

#again {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {

  #song-container {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 640px;
    height: 480px;
    opacity: 0;
    text-align: center;
    margin: 20px auto;
    background-color: white;
    padding: 25px;
    padding-bottom: 15vw;
    border-radius: 10px;
  }

  #song-title {
    margin-top: 10px;
    font-size: 5vw;
  }

  #videoPlayer {
    width: 100%;
    pointer-events: none;
    background-color: #000;
  }

  .player {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 3vw;
  }

  #counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #2a364b;
    border-radius: 25px;
    margin: 0 auto;
    padding: 12px;
    opacity: 0;
    color: white;
    font-size: 3vw;
  }

  #game-panel {
    text-align: center;
    background-color: rgb(40, 50, 73);
    padding: 20px;
    border-radius: 10px;
    width: 90vw;
    margin: 10px auto;
  }

  .button {
    background-color: #4c63af;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 2vw;
    margin-right: 10px;
    cursor: pointer;
    font-size: 4vw;
    border-radius: 5px;
    width: 50vw;
    height: 10vw;
  }

  #answer-container {
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  #answer, .text-input {
    padding: 10px;
    font-size: 4vw;
    width: 85vw;
    height: 5vw;
  }

  .host-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 4vw;
    border-radius: 5px;
    margin: 0 auto;
    width: 50vw;
    height: 10vw;
  }

}